
* {
	margin: 0;
	padding: 0;
}

body {
	padding-bottom: 30px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #B9B3AD;
	background: #000000;
}

h1 {
	padding: 120px 0 0 30px;
	font: normal 54px Georgia, Times, serif;
	color: #FFFFFF;
}

h1 a,h1 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

h2 {
	font-weight: normal;
	text-shadow: -1px 1px 1px #36322F;
}

p {
	padding: .8em 0;
	line-height: 1.8em;
	text-align: justify;
}

p#subtitle {
	padding: 0 0 0 30px;
	font-size: 14px;
	text-transform: uppercase;
	color: #CE5454;
}

a {
	color: #D9463D;
	text-decoration: none;
}

a:hover {
	color: #EF5548;
}

/* page */
#page {
	width: 960px;
	margin: 0 auto;
}

/* header */
#header {
	height: 350px;
}

/* topbar */
#topbar {
	height: 101px;
	text-align: center;
}

#topbar ul {
	list-style: none;
}

#topbar ul li {
	display: inline;
	font-size: 14px;
	line-height: 72px;
}

#topbar ul li a {
	padding: 0 30px;
	text-shadow: 1px -1px 1px #7B2323;
	color: #EEC2C2;
}

#topbar ul li a:hover {
	color: #FFFFFF;
}

/* identity */
#identity {
	padding: 15px 10px 10px 10px;
	text-align: left;
	float: left;
}

/* languageSwitcher */
#languageSwitcher {
	padding: 15px 10px 10px 10px;
	float: right;
	text-align: right;
}

/* main */
#main {
	
}

/* sidebar */
#sidebar {
	float: left;
	width: 305px;
	font-size: 13px;
}

#sidebar #login {
	margin-bottom: 15px;
	padding-bottom: 10px;
	
}

#sidebar .box2 {

	padding: 25px 9px;
	background: #36322F;
}

#sidebar .box3 {

	padding: 10px 30px;
	background: #36322F;
}

#sidebar ul {
	list-style: none;
}


#login form {
	text-align: center;
}

#login form p {
	padding: 5px 0;
	text-align: center;
}

#login form p.txtleft {
	padding: 15px 0 5px 35px;
	text-align: left;
}

#login form p.rem {
	padding-top: 15px;
}

#login input.text,#login input.password {
	padding: 4px;
	width: 190px;
	font-size: 13px;
	color: #444444;
	background: #EAE8E7;
	border: 1px solid #A59C95;
	border-left: 1px solid #C8C1BC;
	border-bottom: 1px solid #C8C1BC;
}


/* content */
#content {
	float: right;
	width: 625px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

#content #contheader h2 {
	height: 58px;
	padding-right: 30px;
	font-size: 24px;
	line-height: 52px;
	text-align: right;
	
}

#content2 {
	height: 500px;
	padding: 40px 30px 10px 30px;
	background: #36322F;
	
}

#content .post {
	padding: 0 0 50px 0;
}

#content2 h2 {
	font-size: 24px;
	text-shadow: none;
}

#content h2 a {
	color: #B9B3AD;
}

p.postmeta {
	padding: .4em 0;
	color: #8D8883;
}

#content .entry {
	padding: 20px 0 0 0;
}

.clearing {
	clear: both;
	height: 5px;
	overflow: hidden;
}

/* footer */
#footer {
	padding: 40px 30px 80px 30px;
}

#footer p {
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	color: #7C7C7C;
}
